/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 23:42:52
    Author     : Jonathan
*/

#iddi-admin-area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    background: white;
    color: #ddd;
    * {
        box-sizing:border-box;
    }
    #iddi-loading-message{
        padding:20px;
        color:white;
        font-size:20px;
    }
    #iddi-admin-entities {
        width: 263px;
        background: white;
        color: #444;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-right: solid 1px #444;
        ul{
            margin:0;
            padding:0;
        }
        li{
            list-style-type:none;
            padding:10px;
            margin:0;
            line-height:24px;
            vertical-align:middle;
            cursor:pointer;
            > i:first-child {
                width: 38px;
                text-align: center;
                top: 4px;
                position: relative;
            }
            &:hover{
                background:#494949;
                color:#ddd;
            }
            i.fa-angle-right{
                float:right;
                margin-top:6px;
            }
        }
    }
    #iddi-admin-main-area{
        position: absolute;
        top: 0;
        left: 263px;
        height: 100%;
        right:0;
        overflow:scroll;

        h1{
            background: #f9f9f9;
            padding: 10px;
            margin: 0 1px;
            color: #444;
            font-size: 14px;
            border-bottom: solid 1px #ccc;
            div {
                float: right;
                font-size: 12px;
                padding: 5px 15px;
                margin: -4px 0 0 4px;
                background: $good-color;
                color: white;
                border-radius: 4px;
                cursor:pointer;
                a{
                    color:white;
                }
                i span {
                    font-family:"Open Sans",arial;
                    margin-left:5px;
                }
            }
        }

        table{
            border-spacing: 1px;
            width: 100%;
            padding:15px;
            th {
                background: #ddd;
                color: #444;
                text-align: left;
                padding: 8px 3px;
            }
            tr{
                td{
                    background:white;
                    color:#444;
                    padding:4px;
                    cursor:pointer;
                }
                &:nth-child(odd){
                    td{
                        background:#f7f7f7;
                    }
                }
            }
        }
    }

    form{
        background:white;
        margin:1px;
        h2{
            color: #444;
            margin: 0;
            padding: 10px;
            text-transform: uppercase;
        }
        fieldset{
            border:none;
            label,.iddi-label{
                display: block;
                padding:3px 0;
                border-bottom:solid 1px #ddd;
                margin:3px 0;
                span{
                    display: inline-block;
                    width:20%;
                    max-width: 150px;
                    text-align: right;
                    margin-right:5px;
                    color:#444;
                    vertical-align: top;
                }
                label.iddi-radio{
                    display:inline-block;
                    border:solid 1px #aaa;
                    border-radius:5px;
                    padding:2px 5px 4px 5px;
                    margin-right:5px;
                    input{
                        position:relative;
                        top:2px;
                    }
                    span{
                        width:auto;
                        margin-left:2px;
                    }
                }
                input,select{
                    display: inline-block;
                    padding:3px 5px;
                }
                &.iddi-text-field{
                    input{
                        width:75%;
                    }
                }
                &.iddi-numeric-field{
                    width: 30%;
                    display: inline-block;
                    margin-right: 3%;
                    input{
                        width:30px;
                    }
                }
                textarea{
                    width:75%;
                    min-height:200px;
                    padding:3px 5px;
                }
            }
        }
    }
    .iddi-form-tabs{
        display: block;
        ul{
            margin:0;
            padding:0;
            background:#444;
        }
        li{
            margin:0;
            padding:10px;
            color:white;
            text-transform:uppercase;
            display:inline-block;
            &.active{
                background:white;
                color:#222;
            }
        }
    }
}