/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-Feb-2015, 22:42:04
    Author     : Jonathan
*/
.iddi-dashboard-component{
    background:white;
    border:solid 1px white;
    margin:0;
    width:100%;
    min-height:100px;
    display:inline-block;
    border-bottom:solid 16px white;
    outline-bottom:solid 1px #888;
    span.iddi-show-item,span.iddi-show-entity{
        float:right;
        color:white;
        background-color:$good-color;
        border-radius: .25em;
        padding:3px 8px;
        cursor:pointer;
        margin-right:15px;
    }
}
.iddi-dashboard-small-component{
    width:50%;
}
.iddi-component-headline{
    width:25%;
    background:white;
    position:relative;
    padding-bottom:15px;
    p{
        color:#444;
        margin:0;
        padding:5px 10px 0 10px;
        &.iddi-headline-figure{
            font-size:24px;
            font-weight:bold;
        }
        &.iddi-headline-subtitle{
            font-size:11px;
            padding:0 10px;
        }
        &.iddi-velocity-figure{
            position: absolute;
            bottom:15px;
            right:5px;
            &.iddi-velocity-up{
                color:$good-color;
            }
            &.iddi-velocity-down{
                color:$bad-color;
            }
            &.iddi-velocity-steady{
                color:$ok-color;
            }
        }
    }
}