@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {
  overflow: hidden;
}

body {
  font-family: "Open Sans",Helvetica,Arial,Geneva,sans-serif;
  font-size: 81.01%;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  &.iddi-backend {
    background: #aaa;
    padding-top: 65px;
  }
  &.iddi {
    label {
      display: block;
      padding: 4px 0px;
      span {
        text-align: right;
        display: block;
        width: 200px;
        float: left;
        padding-right: 5px;
      }
    }
    #left-area {
      width: 200px;
      border-left: solid 1px #777;
      float: right;
      min-height: 300px;
      padding: 10px;
    }
    #edit-area {
      border: solid 1px #555;
      background: white;
      margin: 10px 230px 10px 10px;
      padding: 5px 18px 50px 18px;
      -moz-border-radius: 5px;
      p {
        background: #333;
        color: white;
        font-size: 1.2em;
        margin: 10px 0;
        padding: 5px;
        -moz-border-radius: 5px;
      }
      .iddi-editable {
        border: outset solid 1px black;
      }
    }
  }
}

#iddi-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#iddi-contain-all {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#iddi-container {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  bottom: 50px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.dock {
  position: fixed;
}

.dock-right {
  right: 0px;
  height: 100%;
  width: 200px;
  background: #444;
  border-left: 2px solid #777;
  margin: 50px 0px;
}

.iddi-popup {
  position: absolute;
  top: 50px;
  left: 90px;
  width: 600px;
  height: 400px;
  border: solid 8px black;
  background: #333;
  padding: 10px;
  -moz-border-radius: 8px;
  h1 {
    margin: -43px -18px 0;
    padding: 4px 10px 4px 10px;
    height: 23px;
    background: #111;
    border: solid 2px black;
    border-bottom: none;
    cursor: move;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    -moz-border-radius: 0 10px 0 0;
  }
  p {
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    font-size: 1.2em;
    padding: 5px 10px;
    background-color: #aaa;
  }
  .toolbar {
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    font-size: 1.2em;
    padding: 5px 10px;
    background-color: #aaa;
    label, input, select {
      display: inline;
      float: none;
    }
  }
  fieldset {
    border: solid 1px #aaa;
  }
  input {
    font-size: 1.1em;
    background: url(/iddi/icons.png) repeat-x 0 -580px;
    margin-bottom: 2px;
    padding: 2px;
    border: solid 1px #555;
    -moz-border-radius: 6px;
    max-width: 400px;
  }
  select {
    background: url(/iddi/icons.png) repeat-x 0 -580px;
    margin-bottom: 2px;
    padding: 2px;
    border: solid 1px #555;
    -moz-border-radius: 6px;
    max-width: 400px;
  }
  option {
    background: white;
    color: black;
    border-bottom: dotted 1px #666;
  }
  label {
    margin: 4px 6px 2px 0;
    font-weight: normal;
    width: 140px;
    float: left;
    clear: both;
    text-align: right;
  }
}

.iddi-fullscreen {
  position: relative;
  top: 40px;
  left: 0px;
  height: auto;
  width: auto;
  max-width: 1000px;
  margin: 0px auto 0px auto;
  -moz-border-radius: 6px;
  font-size: 90.01%;
  div {
    overflow: visible;
  }
  .iddi-wizard-step-container {
    height: auto;
    div {
      padding: 10px 5px;
    }
  }
}

.iddi-cp {
  background: black;
  h1 span {
    display: none;
  }
}

#iddi-help-floater {
  position: fixed;
  background: #333;
  border: solid 1px black;
  width: 200px;
  padding: 1px 6px;
  z-index: 101000;
  opacity: 0.9;
  -moz-border-radius: 7px;
  p {
    padding: 5px 6px;
    font-style: italic;
    color: white;
    font-weight: bold;
  }
  div {
    position: absolute;
    width: 24px;
    height: 10px;
    background: url(/iddi/icons.png) no-repeat;
  }
  &.below div {
    background-position: -10px -471px;
    top: 0px;
    margin-top: -10px;
  }
  &.above div {
    background-position: -10px -483px;
    top: 100%;
    margin-bottom: -10px;
  }
}

.iddi-close-button {
  float: right;
  border: outset 1px white;
  background: black;
  margin-left: 14px;
  font-size: 0.6em;
  padding: 2px 6px;
  cursor: pointer;
}

.file-picker {
  overflow: auto;
  white-space: nowrap;
  div {
    display: inline;
    height: 100%;
    width: 180px;
    select {
      background: white;
      -moz-border-radius: 0;
      border: none;
      width: 180px;
      overflow: auto;
    }
  }
}

.popup-buttonbar {
  background: #222;
  color: white;
  border-top: solid 1px black;
  -moz-border-radius: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  div {
    -moz-border-radius: 0 0 9px 9px;
  }
}

#iddi-select-file {
  width: 100%;
  height: 100%;
}

#iddi-contain-all {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

#iddi-overlay {
  background: white;
  border: double 3px white;
  margin: 0px;
  opacity: 0;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.iddi-fixed-toolbar {
  display:inline-block;
  padding: 0px 5px;
}

.iddi-toolbar {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  #iddi-tb-back {
    width: 100%;
    height: 50px;
    position: absolute;
    background:#444;
    z-index:400000;
  }
  h6 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 120px;
    height: 50px;
    background: url(/iddi/icons.png) no-repeat 0 -512px;
    float: left;
    margin: -2px 0px 0px 0px;
    padding: 0px;
    span {
      display: none;
    }
  }

  i{
      color:white;
    font-size:14px;
    padding:3px 10px;
    line-height: 43px;

    span{
        margin-left: 12px;
        font-family: "Open Sans",Arial;
        padding-right: 7px;
    }
    &:hover{
        cursor: pointer;
        background:#666;
    }
    &.active{
        background:white;
        color:#333;
    }
  }
}

.iddi-center-message {
  padding: 10px;
  width: 440px;
  height: 150px;
  position: fixed;
  left: 50%;
  margin-left: -220px;
  top: 50%;
  margin-top: -75px;
  color: white;
  border: solid 2px black;
  background: #333;
  padding: 10px;
  -moz-border-radius: 0 10px 0 0;
}

.iddi-alert-box {
  .icon {
    width: 32px;
    height: 56px;
    margin: 5px;
    position: absolute;
    top: 75px;
    left: 10px;
    margin-top: -38px;
    span {
      visibility: hidden;
    }
  }
  h2 {
    font-size: 2em;
    margin-left: 50px;
    border: none;
    background: none;
    padding: 0px;
  }
  p {
    margin-left: 50px;
    border: none;
    background: none;
    padding: 0px;
  }
}

.icon {
  &.iddi-warning, &.iddi-status-warning {
    background: url(/iddi/icons.png) no-repeat -128px -494px;
  }
  &.iddi-error, &.iddi-status-error, &.iddi-status-fatal, &.iddi-status-serious {
    background: url(/iddi/icons.png) no-repeat -160px -494px;
    width: 32px;
    height: 56px;
  }
  &.iddi-ok, &.iddi-status-Success, &.iddi-status-success {
    background: url(/iddi/icons.png) no-repeat -192px -494px;
    width: 32px;
    height: 56px;
  }
  &.iddi-information, &.iddi-status-ok, &.iddi-information-progressor {
    background: url(/iddi/icons.png) no-repeat -224px -494px;
    width: 32px;
    height: 56px;
  }
}

span {
  &.iddi-warning, &.iddi-status-warning, &.iddi-error, &.iddi-status-error, &.iddi-status-fatal, &.iddi-status-serious, &.iddi-ok, &.iddi-status-Success, &.iddi-status-success, &.iddi-information, &.iddi-status-ok, &.iddi-information-progressor {
    width: 32px;
    height: 56px;
    display: block;
    float: left;
    margin-right: 15px;
  }
  &.iddi-status-progress {
    background: url(/iddi/status-progress.gif) 0 3px no-repeat;
  }
  &.iddi-status-success-progress {
    background: url(/iddi/status-success-progress.gif) 0 3px no-repeat;
  }
}

.iddi-editable {
  min-width: 40px;
  min-height: 15px;
}

.iddi-side-message {
  font-family: georgia;
  position: absolute;
  font-size: 1.3em;
  font-weight: normal;
  font-style: italic;
  background: #222;
  opacity: 0.8;
  color: white;
  display: inline;
  padding: 8px 20px 8px 20px;
  z-index: 10100;
  display: block;
  border: solid 1px #444;
  border-left: none;
  -moz-border-radius: 0 5px 5px 0;
  * {
    white-space: nowrap;
    max-width: 50%;
  }
  .icon {
    margin: 0px;
    top: 0px;
  }
  .msg {
    padding: 6px 5px 9px 0px;
    margin-left: 45px;
  }
}

.iddi-bounder {
  border: outset 3px red;
  margin: -2px;
  position: absolute;
  z-index: 9999;
  -moz-border-radius: 4px;
  div {
    background: url(/iddi/icons.png) no-repeat -264px -494px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 36px;
    height: 66px;
  }
}

#iddi-form {}

#iddi-stuff {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

#iddi-wrapper {
  position: relative;
  padding: 50px;
}

.iddi-dockable {
  border: dotted 1px black;
  background: #dfdfdf;
  position: fixed;
}

#iddi-dock-top {
  height: 50px;
  top: 0px;
  width: 100%;
}

#iddi-dock-left {
  height: 100%;
  width: 50px;
  left: 0px;
  top: 0px;
}

#iddi-dock-right {
  height: 100%;
  width: 50px;
  right: 0px;
  top: 0px;
}

#iddi-dock-bottom {
  height: 50px;
  bottom: 0px;
  width: 100%;
}

.iddi-dockable-toolbar {
  display:inline-block;
  border-left: solid 1px #888;
  display: inline;
  padding: 0px 8px;
}

.iddi-wizard-steps {
  border-bottom: solid 1px white;
  padding: 5px 5px 5px 5px;
  height: 1.4em;
  display: block;
  margin: 15px 0 0 0;
  li {
    float: left;
    border: #aaa 1px solid;
    padding: 3px 5px 3px 5px;
    height: 1.4em;
    bottom: -1px;
    border-bottom: solid 1px white;
    background: #777;
    color: #aaa;
    margin-top: -2px;
    margin-left: 8px;
    list-style-type: none;
    -moz-border-radius: 0 5px 0 0;
    cursor: pointer;
    &.iddi-wizard-step-active {
      background: #ccc;
      border-bottom: solid 1px #ccc;
      border-color: white;
      color: black;
      border-bottom: solid 1px #ccc;
    }
  }
}

.iddi-wizard-step-container {
  clear: both;
  background: #ccc;
  margin: 0px;
  padding: 6px;
  height: 290px;
  overflow: auto;
  position: relative;
  h2 {
    margin-top: 0px;
    border-bottom: solid 1px #336;
    letter-spacing: 1px;
    font-size: 2em;
    display: block;
  }
  label {}
  input {
    margin-top: 2px;
  }
  ul.iddi-chooser {
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 103px;
      height: 85px;
      margin: 3px;
      border: solid 1px;
      background: white;
      text-align: center;
      list-style-type: none;
      position: relative;
    }
    input {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 30px;
      width: 100%;
    }
    label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 45px;
      font-size: 0.8em;
      text-align: center;
      font-weight: bold;
      background: #ccc;
    }
  }
}

.iddi-wizard-next-back {
  background: #bbb;
  border-top: solid 1px #ddd;
  text-align: right;
  padding: 4px 8px;
  input {
    font-size: 1.3em;
    padding: 3px 20px;
    margin-left: 10px;
  }
  select {
    font-size: 1.3em;
    padding: 3px 3px;
    margin-left: 10px;
  }
}

.iddi-bounder-active {
  background: #666;
  position: absolute;
  z-index: 100000;
  opacity: 0.6;
  &.active {
    background: #944;
  }
  &.border_2 {
    background: black;
  }
}

.iddi-bounder-active-icon {
  background: url(/iddi/icons.png) no-repeat -264px -494px;
  position: absolute;
  width: 36px;
  height: 66px;
  z-index: 100000;
  opacity: 0.6;
}

.iddi-bounder-active-name {
  font-size: 2em;
  position: absolute;
  color: white;
  z-index: 100010;
  color: black;
  background: white;
  padding: 5px;
}

.iddi-drop-downs {
  margin: 6px 0 0 0;
  padding: 0;
  .disabled {
    background: white;
    opacity: 0.3;
  }
  li {
    background: #666;
    display: inline;
    position: relative;
    height: 1.5em;
    padding: 5px 12px;
    z-index: 5000;
    margin: 2px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    -moz-border-radius: 5px 5px 0 0;
    .wb {
      background: white;
      position: absolute;
      top: 1.5em;
      left: 0px;
      height: 10px;
      z-index: 6000;
      width: 100%;
      -moz-border-radius: 5px 5px 0 0;
    }
    &:hover ul {
      display: block;
    }
    ul {
      position: absolute;
      left: -2px;
      top: 1.5em;
      background: white;
      border: solid 2px #888;
      margin: 7px 0 0 0;
      padding: 0;
      z-index: -10;
      -moz-border-radius: 0 0 5px 5px;
      li {
        display: block;
        white-space: nowrap;
        height: 35px;
        color: black;
        font-weight: normal;
        font-size: 1.1em;
        span {
          display: block;
          width: 32px;
          height: 38px;
          left: 6px;
          float: none;
          margin-right: 6px;
          position: absolute;
        }
        line-height: 32px;
        vertical-align: middle;
        height: 32px;
        cursor: hand;
        display: block;
        padding-right: 60px;
        -moz-border-radius: 5px;
        background: white;
        padding-left: 50px;
        &:hover {
          background: #aaa;
        }
        &.disabled:hover {
          background: white;
        }
        position: relative;
        ul {
          position: absolute;
          left: 100%;
          top: -5px;
          background: white;
          border: solid 2px #888;
          margin: 7px 0 0 0;
          padding: 0;
          z-index: -10;
          -moz-border-radius: 0 0 5px 5px;
        }
      }
    }
  }
  > li.active {
    background: white;
    border: solid 2px #888;
    margin: 0px;
    color: black;
    border-bottom: solid 2px white;
    z-index: 50;
  }
}

/* Multi-level */

#iddi-image-chooser-popup img {
  height: 95px;
  margin: 5px;
}

/* Image Editor */

#image-editor-popup {
  #image-editor-toolbar {}
  #image-editor-area {
    float: left;
    width: 220px;
    margin-right: 10px;
    img {
      width: 210px;
    }
  }
  #file-picker {
    float: left;
    height: 340px;
    width: 350px;
    overflow: auto;
    img {
      margin: 6px;
      border: solid 1px black;
      width: 95px;
    }
  }
  .iddi-wizard-step-container {
    height: 380px;
  }
}

/* We want folder icons when saving a file */

.iddi-save-file-popup .file-picker select option {
  background: url(/iddi/icons.png) 2px -643px no-repeat;
  padding-left: 14px;
}

/* We want file icons when opening a file */

.iddi-open-file-popup .file-picker select option {
  background: url(/iddi/icons.png) 2px -667px no-repeat;
  padding-left: 14px;
}

/* Lets have a slightly smaller font in selects */

.file-picker select option {
  font-size: 12px;
}