/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 22:47:08
    Author     : Jonathan
*/

$good-color:#1ab394;
$bad-color:#ed5565;
$ok-color:#1c84c6;