<h1>iddi.mysql.connect.serverconnectfailed</h1>
<h2>Cause</h2>
<p>IDDI could not connect to your mySql database server.</p>
<h2>Fix</h2>
<p>Edit the iddiconfig.xml file in your project folder to include the correct username, password and hostname. Hostname is normally localhost</p>