<h1>iddi.core.iddiEntityDefinition.Constructor.NoEntityId</h1>
<p>{MESSAGE}</p>
<h2>Cause</h2>
<p>No information yet.</p>
<h2>Fix</h2>
<p>There is no information about how to fix this problem yet.</p>