<h1>iddi.mysql.connect.selectdbfailed</h1>
<h2>Cause</h2>
<p>IDDI sucessfully connected to your mySql database server, but couldn't connect to the database.</p>
<h2>Fix</h2>
<p>Edit the iddiconfig.xml file in your project folder to include the correct database name.</p>